{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">

    <div class="row logo-header">
        <img src="{{ asset('logos/checked(2).png') }}"/>
    </div>

    <div class="row">
    <div class="col-xs-12 text-center">
        <h1 class="title">CdP Trust</h1>
        <div class="separation"></div>

        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 text-center carte" style="">
                <form method="post" action="" class="form-horizontal">
                    <label for="json">Choississez votre fichier :</label>
                    <select id="json">
                        {% for selectValue in selectValues %}
                            <option value="{{ selectValue }}">{{ selectValue }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="btn btn-default" value="Envoyer">
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-center margin-top-20px">
                <h3 class="sstitre">Total de commentaires : {{ nbCom }}</h3>
                <h3 style="font-size: 22px">commentaires négatifs : {{ nbNeg }}</h3>
            </div>
        </div>

        {#<div class="row text-center">#}
        {#<p>Résumé Lorem ipsum</p>#}

        {#</div>#}

        <div class="row moyenne">
            <div class="col-xs-4 col-xs-offset-2 text-center carte" style="">
                <ul class="category">
                    <li><span class="icone"><img src="{{ asset('logos/vacuum-cleaner.png') }}"/></span>Propreté
                        : {{ totaux.1 }}
                        {#{% if 1 == 5 %}#}
                        {#<span><img src="{{ asset('logos/star.png') }}" width="25px"/></span> <span><img src="{{ asset('logos/star.png') }}" width="25px"/></span>#}
                        {#<span><img src="{{ asset('logos/star.png') }}" width="25px"/></span> <span><img src="{{ asset('logos/star.png') }}" width="25px"/></span>#}
                        {#<span><img src="{{ asset('logos/star.png') }}" width="25px"/></span></li>#}
                    <li><span class="icone"><img src="{{ asset('logos/mobile-phone.png') }}"/></span>Communication
                        : {{ totaux.2 }}</li>
                    <li><span class="icone"><img src="{{ asset('logos/placeholder.png') }}"/></span>Emplacement
                        : {{ totaux.3 }}</li>
                </ul>
            </div>

            <div class="col-xs-4 text-center carte">
                <ul class="category">
                    <li><span class="icone"><img src="{{ asset('logos/luggage.png') }}"/></span>Arrivée : {{ totaux.4 }}
                    </li>
                    <li><span class="icone"><img src="{{ asset('logos/price-tag.png') }}"/></span>Qualité - Prix
                        : {{ totaux.5 }}</li>
                    <li><span class="icone"><img src="{{ asset('logos/target.png') }}"/></span>Precision
                        : {{ totaux.6 }}</li>
                </ul>
            </div>
        </div>

        <div class="row moyenne">
            <div class="col-xs-12 text-center col-xs-4 col-xs-offset-5">
                {% for recom in recap %}
                    {% if recom.tag != '' %}
                        <div class="titre-bloc-gauche text-justify">
                            <p style="font-weight: bold">{{ recom.name }}</p>
                            <p>{{ recom.tag }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="row moyenne">
            <div class="col-xs-12 text-center">
                <button class="btn btn-success btn-lg" download="w3logo">Télécherger les resultats</button>
            </div>
        </div>
    </div>

{% endblock %}